{% extends "base.html" %} 
{% block title %} Подписки {% endblock %}

{% block content %}

  <div class="container">
    {% include "templates_for_include/menu.html" with follow=True %}
    <h1>Последние обновления</h1>
      {% for post in page %}
        {% include "templates_for_include/post_item.html" with post=post %}
      {% endfor %}
  </div>

  {% if page.has_other_pages %}
    {% include "templates_for_include/paginator.html" with items=page paginator=paginator%}
  {% endif %}

{% endblock %} 
