{% extends "base.html" %}
{% block title %}Пользователь {{ author.username }}{% endblock %}
{% block content %}

  {% load user_filters %}

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        {% include "templates_for_include/author_card.html" %}
      </div>
​
      <div class="col-md-9">
        {% for post in page %}
          {% include "templates_for_include/post_item.html" with post=post %} 
        {% endfor %}
        {% if page.has_other_pages %}
          {% include "templates_for_include/paginator.html" %}
        {% endif %}
      </div>
    </div>
  </main>
  
{% endblock %}
